<%- include("./partials/header") -%>

<div class="info jumbotron">
    <h1>Temperature in <%= query %> is <%= temp %></h1>
    <h3>Weather is like <%= weatherDiscription %> </h3>
    <img src=<%= imageURL %>>
</div>

<%- include("./partials/footer") -%>